body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -moz-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #27364f), color-stop(50%, #112), color-stop(100%, #112));
    background: -webkit-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -o-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -ms-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #112 ',GradientType=1 )';
    background-position: 50% 0%;
    background-size: 150vmax 150vmax;
    background-repeat: no-repeat;
    background-color: #112;
  }
  .stars .container {
    position: absolute;
    animation: stars linear infinite;
  }
  .stars .container .star {
    animation: twinkle linear infinite;
    border-radius: 100%;
    transform: translateZ(0);
  }
  .stars .container:nth-child(0) {
    width: 1px;
    height: 1px;
    left: 78vw;
    animation-delay: -993.8s;
    animation-duration: 305.2s;
  }
  .stars .container:nth-child(0) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 16.8s;
    background: rgba(208,190,209,0.9);
  }
  .stars .container:nth-child(1) {
    width: 1px;
    height: 1px;
    left: 17.5vw;
    animation-delay: -982.8s;
    animation-duration: 151s;
  }
  .stars .container:nth-child(1) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.8s;
    animation-duration: 20.5s;
    background: #ffd3c4;
  }
  .stars .container:nth-child(2) {
    width: 1px;
    height: 1px;
    left: 73vw;
    animation-delay: -990.8s;
    animation-duration: 168.8s;
  }
  .stars .container:nth-child(2) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 39.1s;
    background: rgba(203,192,198,0.8);
  }
  .stars .container:nth-child(3) {
    width: 3px;
    height: 3px;
    left: 57vw;
    animation-delay: -997.6666666666666s;
    animation-duration: 130s;
  }
  .stars .container:nth-child(3) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 27.2s;
    background: rgba(203,211,196,0.8);
  }
  .stars .container:nth-child(4) {
    width: 1px;
    height: 1px;
    left: 48.5vw;
    animation-delay: -999.6s;
    animation-duration: 286.8s;
  }
  .stars .container:nth-child(4) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.6s;
    animation-duration: 48.9s;
    background: #e3d66c;
  }
  .stars .container:nth-child(5) {
    width: 1px;
    height: 1px;
    left: 25vw;
    animation-delay: -994.4s;
    animation-duration: 317.4s;
  }
  .stars .container:nth-child(5) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.3s;
    animation-duration: 41.8s;
    background: rgba(217,229,242,0.8);
  }
  .stars .container:nth-child(6) {
    width: 2px;
    height: 2px;
    left: 69.5vw;
    animation-delay: -998.5s;
    animation-duration: 21.5s;
  }
  .stars .container:nth-child(6) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.4s;
    animation-duration: 38.9s;
    background: rgba(220,178,102,0.8);
  }
  .stars .container:nth-child(7) {
    width: 1px;
    height: 1px;
    left: 44.5vw;
    animation-delay: -998.8s;
    animation-duration: 47.4s;
  }
  .stars .container:nth-child(7) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 48.5s;
    background: rgba(227,150,115,0.9);
  }
  .stars .container:nth-child(8) {
    width: 2px;
    height: 2px;
    left: 43.5vw;
    animation-delay: -994.9s;
    animation-duration: 133.2s;
  }
  .stars .container:nth-child(8) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 29.1s;
    background: rgba(221,230,118,0.8);
  }
  .stars .container:nth-child(9) {
    width: 3px;
    height: 3px;
    left: 61.5vw;
    animation-delay: -996.9333333333333s;
    animation-duration: 132.66666666666666s;
  }
  .stars .container:nth-child(9) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 26.6s;
    background: rgba(251,181,232,0.8);
  }
  .stars .container:nth-child(10) {
    width: 3px;
    height: 3px;
    left: 47.5vw;
    animation-delay: -999.4666666666667s;
    animation-duration: 27.066666666666666s;
  }
  .stars .container:nth-child(10) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47s;
    animation-duration: 44.7s;
    background: #e8c0f7;
  }
  .stars .container:nth-child(11) {
    width: 2px;
    height: 2px;
    left: 32vw;
    animation-delay: -990.9s;
    animation-duration: 21.7s;
  }
  .stars .container:nth-child(11) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.9s;
    animation-duration: 34.1s;
    background: #f4e0c2;
  }
  .stars .container:nth-child(12) {
    width: 3px;
    height: 3px;
    left: 38vw;
    animation-delay: -994.1333333333333s;
    animation-duration: 92.06666666666666s;
  }
  .stars .container:nth-child(12) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.7s;
    animation-duration: 34.8s;
    background: rgba(225,178,200,0.7);
  }
  .stars .container:nth-child(13) {
    width: 2px;
    height: 2px;
    left: 1.5vw;
    animation-delay: -995.3s;
    animation-duration: 162.3s;
  }
  .stars .container:nth-child(13) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 9.8s;
    background: rgba(218,203,136,0.9);
  }
  .stars .container:nth-child(14) {
    width: 3px;
    height: 3px;
    left: 32.5vw;
    animation-delay: -999.5333333333333s;
    animation-duration: 93.66666666666667s;
  }
  .stars .container:nth-child(14) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.2s;
    animation-duration: 46.5s;
    background: rgba(212,242,215,0.7);
  }
  .stars .container:nth-child(15) {
    width: 3px;
    height: 3px;
    left: 2.5vw;
    animation-delay: -995.1333333333333s;
    animation-duration: 110.60000000000001s;
  }
  .stars .container:nth-child(15) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.1s;
    animation-duration: 19.1s;
    background: #e2e3c0;
  }
  .stars .container:nth-child(16) {
    width: 1px;
    height: 1px;
    left: 84vw;
    animation-delay: -991.6s;
    animation-duration: 211.2s;
  }
  .stars .container:nth-child(16) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.6s;
    animation-duration: 30.9s;
    background: #cab079;
  }
  .stars .container:nth-child(17) {
    width: 1px;
    height: 1px;
    left: 23vw;
    animation-delay: -999.4s;
    animation-duration: 218.2s;
  }
  .stars .container:nth-child(17) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 33.5s;
    background: #d5d9db;
  }
  .stars .container:nth-child(18) {
    width: 1px;
    height: 1px;
    left: 36.5vw;
    animation-delay: -982.2s;
    animation-duration: 293.8s;
  }
  .stars .container:nth-child(18) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.3s;
    animation-duration: 28.9s;
    background: rgba(215,200,191,0.9);
  }
  .stars .container:nth-child(19) {
    width: 1px;
    height: 1px;
    left: 34vw;
    animation-delay: -983.6s;
    animation-duration: 224s;
  }
  .stars .container:nth-child(19) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.9s;
    animation-duration: 6.1s;
    background: rgba(203,224,176,0.7);
  }
  .stars .container:nth-child(20) {
    width: 1px;
    height: 1px;
    left: 56vw;
    animation-delay: -989.6s;
    animation-duration: 93.2s;
  }
  .stars .container:nth-child(20) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.2s;
    animation-duration: 17.1s;
    background: rgba(232,241,137,0.9);
  }
  .stars .container:nth-child(21) {
    width: 3px;
    height: 3px;
    left: 54vw;
    animation-delay: -996.2666666666667s;
    animation-duration: 44.199999999999996s;
  }
  .stars .container:nth-child(21) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 31s;
    background: rgba(250,232,199,0.8);
  }
  .stars .container:nth-child(22) {
    width: 2px;
    height: 2px;
    left: 2vw;
    animation-delay: -998.3s;
    animation-duration: 46.4s;
  }
  .stars .container:nth-child(22) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 25.5s;
    background: rgba(240,246,187,0.8);
  }
  .stars .container:nth-child(23) {
    width: 3px;
    height: 3px;
    left: 72vw;
    animation-delay: -998.5333333333333s;
    animation-duration: 102.06666666666666s;
  }
  .stars .container:nth-child(23) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.7s;
    animation-duration: 20.6s;
    background: rgba(247,210,142,0.8);
  }
  .stars .container:nth-child(24) {
    width: 2px;
    height: 2px;
    left: 24vw;
    animation-delay: -995.2s;
    animation-duration: 88.7s;
  }
  .stars .container:nth-child(24) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 15.1s;
    background: rgba(245,250,118,0.9);
  }
  .stars .container:nth-child(25) {
    width: 2px;
    height: 2px;
    left: 97vw;
    animation-delay: -996.3s;
    animation-duration: 45s;
  }
  .stars .container:nth-child(25) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.3s;
    animation-duration: 13.6s;
    background: #f69880;
  }
  .stars .container:nth-child(26) {
    width: 3px;
    height: 3px;
    left: 2vw;
    animation-delay: -994.2s;
    animation-duration: 102.2s;
  }
  .stars .container:nth-child(26) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 28.7s;
    background: rgba(210,155,194,0.9);
  }
  .stars .container:nth-child(27) {
    width: 1px;
    height: 1px;
    left: 39vw;
    animation-delay: -983.4s;
    animation-duration: 295.2s;
  }
  .stars .container:nth-child(27) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.5s;
    animation-duration: 11.8s;
    background: rgba(209,190,121,0.7);
  }
  .stars .container:nth-child(28) {
    width: 2px;
    height: 2px;
    left: 77vw;
    animation-delay: -998.1s;
    animation-duration: 37.8s;
  }
  .stars .container:nth-child(28) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 31.1s;
    background: #f39a85;
  }
  .stars .container:nth-child(29) {
    width: 2px;
    height: 2px;
    left: 82vw;
    animation-delay: -995.6s;
    animation-duration: 26.7s;
  }
  .stars .container:nth-child(29) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.1s;
    animation-duration: 14.2s;
    background: rgba(241,232,129,0.8);
  }
  .stars .container:nth-child(30) {
    width: 1px;
    height: 1px;
    left: 45.5vw;
    animation-delay: -986.6s;
    animation-duration: 268.6s;
  }
  .stars .container:nth-child(30) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.2s;
    animation-duration: 5.1s;
    background: rgba(235,157,161,0.9);
  }
  .stars .container:nth-child(31) {
    width: 3px;
    height: 3px;
    left: 6vw;
    animation-delay: -998.9333333333333s;
    animation-duration: 123.53333333333335s;
  }
  .stars .container:nth-child(31) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 31.3s;
    background: rgba(238,235,127,0.9);
  }
  .stars .container:nth-child(32) {
    width: 1px;
    height: 1px;
    left: 46vw;
    animation-delay: -998.4s;
    animation-duration: 99s;
  }
  .stars .container:nth-child(32) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.3s;
    animation-duration: 41.4s;
    background: rgba(254,222,179,0.7);
  }
  .stars .container:nth-child(33) {
    width: 1px;
    height: 1px;
    left: 63.5vw;
    animation-delay: -996.2s;
    animation-duration: 309.4s;
  }
  .stars .container:nth-child(33) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.3s;
    animation-duration: 46s;
    background: rgba(206,203,116,0.8);
  }
  .stars .container:nth-child(34) {
    width: 2px;
    height: 2px;
    left: 79vw;
    animation-delay: -998.6s;
    animation-duration: 135.5s;
  }
  .stars .container:nth-child(34) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.6s;
    animation-duration: 49.1s;
    background: rgba(227,243,180,0.9);
  }
  .stars .container:nth-child(35) {
    width: 1px;
    height: 1px;
    left: 43.5vw;
    animation-delay: -980.8s;
    animation-duration: 103.8s;
  }
  .stars .container:nth-child(35) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 11.6s;
    background: #edc4ec;
  }
  .stars .container:nth-child(36) {
    width: 1px;
    height: 1px;
    left: 86.5vw;
    animation-delay: -981s;
    animation-duration: 47.6s;
  }
  .stars .container:nth-child(36) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.3s;
    animation-duration: 26.4s;
    background: #cff096;
  }
  .stars .container:nth-child(37) {
    width: 1px;
    height: 1px;
    left: 41.5vw;
    animation-delay: -990.4s;
    animation-duration: 162.4s;
  }
  .stars .container:nth-child(37) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.1s;
    animation-duration: 13.1s;
    background: #ddb3f5;
  }
  .stars .container:nth-child(38) {
    width: 3px;
    height: 3px;
    left: 18.5vw;
    animation-delay: -999.5333333333333s;
    animation-duration: 95.13333333333333s;
  }
  .stars .container:nth-child(38) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.7s;
    animation-duration: 43.1s;
    background: rgba(227,189,230,0.8);
  }
  .stars .container:nth-child(39) {
    width: 3px;
    height: 3px;
    left: 42vw;
    animation-delay: -993.4s;
    animation-duration: 23.333333333333332s;
  }
  .stars .container:nth-child(39) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.1s;
    animation-duration: 8.6s;
    background: rgba(212,245,125,0.8);
  }
  .stars .container:nth-child(40) {
    width: 1px;
    height: 1px;
    left: 84vw;
    animation-delay: -993.2s;
    animation-duration: 86.6s;
  }
  .stars .container:nth-child(40) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42s;
    animation-duration: 21.5s;
    background: #fac8c9;
  }
  .stars .container:nth-child(41) {
    width: 1px;
    height: 1px;
    left: 60vw;
    animation-delay: -991.8s;
    animation-duration: 190s;
  }
  .stars .container:nth-child(41) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 30.5s;
    background: rgba(253,178,246,0.7);
  }
  .stars .container:nth-child(42) {
    width: 1px;
    height: 1px;
    left: 18.5vw;
    animation-delay: -980.6s;
    animation-duration: 50s;
  }
  .stars .container:nth-child(42) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 24.7s;
    background: rgba(247,236,180,0.9);
  }
  .stars .container:nth-child(43) {
    width: 1px;
    height: 1px;
    left: 74vw;
    animation-delay: -991.6s;
    animation-duration: 272s;
  }
  .stars .container:nth-child(43) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.3s;
    animation-duration: 10.9s;
    background: rgba(247,228,174,0.7);
  }
  .stars .container:nth-child(44) {
    width: 2px;
    height: 2px;
    left: 26.5vw;
    animation-delay: -998.4s;
    animation-duration: 104.1s;
  }
  .stars .container:nth-child(44) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48s;
    animation-duration: 42.1s;
    background: #eef5ad;
  }
  .stars .container:nth-child(45) {
    width: 3px;
    height: 3px;
    left: 27.5vw;
    animation-delay: -996.9333333333333s;
    animation-duration: 64.46666666666667s;
  }
  .stars .container:nth-child(45) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 38.1s;
    background: #d4b569;
  }
  .stars .container:nth-child(46) {
    width: 2px;
    height: 2px;
    left: 67vw;
    animation-delay: -993s;
    animation-duration: 101.2s;
  }
  .stars .container:nth-child(46) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.3s;
    animation-duration: 37.3s;
    background: #f9ecf0;
  }
  .stars .container:nth-child(47) {
    width: 1px;
    height: 1px;
    left: 8vw;
    animation-delay: -982.2s;
    animation-duration: 205.4s;
  }
  .stars .container:nth-child(47) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.5s;
    animation-duration: 30.8s;
    background: rgba(217,166,156,0.8);
  }
  .stars .container:nth-child(48) {
    width: 3px;
    height: 3px;
    left: 81.5vw;
    animation-delay: -997.9333333333333s;
    animation-duration: 124.86666666666667s;
  }
  .stars .container:nth-child(48) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 49.5s;
    background: rgba(249,179,201,0.8);
  }
  .stars .container:nth-child(49) {
    width: 3px;
    height: 3px;
    left: 20vw;
    animation-delay: -999.8s;
    animation-duration: 50.86666666666667s;
  }
  .stars .container:nth-child(49) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.1s;
    animation-duration: 18.7s;
    background: rgba(207,168,104,0.8);
  }
  .stars .container:nth-child(50) {
    width: 1px;
    height: 1px;
    left: 92.5vw;
    animation-delay: -991.4s;
    animation-duration: 295.2s;
  }
  .stars .container:nth-child(50) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.3s;
    animation-duration: 43.8s;
    background: #f8b96b;
  }
  .stars .container:nth-child(51) {
    width: 2px;
    height: 2px;
    left: 39vw;
    animation-delay: -995.9s;
    animation-duration: 195.9s;
  }
  .stars .container:nth-child(51) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 15.3s;
    background: #d7e4e6;
  }
  .stars .container:nth-child(52) {
    width: 3px;
    height: 3px;
    left: 74vw;
    animation-delay: -993.3333333333334s;
    animation-duration: 127.66666666666667s;
  }
  .stars .container:nth-child(52) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 33s;
    background: #ffb2ab;
  }
  .stars .container:nth-child(53) {
    width: 2px;
    height: 2px;
    left: 82vw;
    animation-delay: -998.2s;
    animation-duration: 28.5s;
  }
  .stars .container:nth-child(53) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 30.5s;
    background: rgba(200,154,136,0.9);
  }
  .stars .container:nth-child(54) {
    width: 1px;
    height: 1px;
    left: 13.5vw;
    animation-delay: -997.8s;
    animation-duration: 205s;
  }
  .stars .container:nth-child(54) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 43.2s;
    background: rgba(219,188,184,0.8);
  }
  .stars .container:nth-child(55) {
    width: 1px;
    height: 1px;
    left: 25vw;
    animation-delay: -988.8s;
    animation-duration: 217.4s;
  }
  .stars .container:nth-child(55) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43s;
    animation-duration: 40.4s;
    background: #d2b5c1;
  }
  .stars .container:nth-child(56) {
    width: 2px;
    height: 2px;
    left: 91vw;
    animation-delay: -997.5s;
    animation-duration: 166.5s;
  }
  .stars .container:nth-child(56) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48s;
    animation-duration: 48.3s;
    background: rgba(203,176,109,0.8);
  }
  .stars .container:nth-child(57) {
    width: 3px;
    height: 3px;
    left: 99vw;
    animation-delay: -995.8s;
    animation-duration: 30.333333333333332s;
  }
  .stars .container:nth-child(57) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.1s;
    animation-duration: 13.1s;
    background: rgba(206,150,188,0.9);
  }
  .stars .container:nth-child(58) {
    width: 1px;
    height: 1px;
    left: 68vw;
    animation-delay: -984s;
    animation-duration: 98.2s;
  }
  .stars .container:nth-child(58) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.3s;
    animation-duration: 8.5s;
    background: rgba(246,247,190,0.8);
  }
  .stars .container:nth-child(59) {
    width: 1px;
    height: 1px;
    left: 18.5vw;
    animation-delay: -992.2s;
    animation-duration: 124s;
  }
  .stars .container:nth-child(59) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 35.8s;
    background: rgba(217,208,141,0.8);
  }
  .stars .container:nth-child(60) {
    width: 3px;
    height: 3px;
    left: 79vw;
    animation-delay: -994.6s;
    animation-duration: 100.26666666666667s;
  }
  .stars .container:nth-child(60) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 19.1s;
    background: rgba(226,165,182,0.7);
  }
  .stars .container:nth-child(61) {
    width: 1px;
    height: 1px;
    left: 69.5vw;
    animation-delay: -989.6s;
    animation-duration: 399.8s;
  }
  .stars .container:nth-child(61) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 30.8s;
    background: rgba(247,176,125,0.7);
  }
  .stars .container:nth-child(62) {
    width: 2px;
    height: 2px;
    left: 89vw;
    animation-delay: -997.1s;
    animation-duration: 191s;
  }
  .stars .container:nth-child(62) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.5s;
    animation-duration: 20.7s;
    background: rgba(255,223,220,0.9);
  }
  .stars .container:nth-child(63) {
    width: 3px;
    height: 3px;
    left: 46.5vw;
    animation-delay: -995.6s;
    animation-duration: 21.8s;
  }
  .stars .container:nth-child(63) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 18.4s;
    background: #d6e198;
  }
  .stars .container:nth-child(64) {
    width: 3px;
    height: 3px;
    left: 85.5vw;
    animation-delay: -998.8666666666667s;
    animation-duration: 25.599999999999998s;
  }
  .stars .container:nth-child(64) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.8s;
    animation-duration: 11.1s;
    background: #cab4e6;
  }
  .stars .container:nth-child(65) {
    width: 1px;
    height: 1px;
    left: 3.5vw;
    animation-delay: -998.2s;
    animation-duration: 306.4s;
  }
  .stars .container:nth-child(65) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.3s;
    animation-duration: 31.5s;
    background: rgba(205,224,147,0.7);
  }
  .stars .container:nth-child(66) {
    width: 1px;
    height: 1px;
    left: 91.5vw;
    animation-delay: -991.6s;
    animation-duration: 273.6s;
  }
  .stars .container:nth-child(66) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.2s;
    animation-duration: 26.2s;
    background: rgba(248,235,162,0.7);
  }
  .stars .container:nth-child(67) {
    width: 2px;
    height: 2px;
    left: 37vw;
    animation-delay: -997.6s;
    animation-duration: 149.4s;
  }
  .stars .container:nth-child(67) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 21.7s;
    background: #edf3ec;
  }
  .stars .container:nth-child(68) {
    width: 1px;
    height: 1px;
    left: 72vw;
    animation-delay: -990s;
    animation-duration: 324s;
  }
  .stars .container:nth-child(68) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.3s;
    animation-duration: 26.6s;
    background: rgba(240,206,197,0.8);
  }
  .stars .container:nth-child(69) {
    width: 2px;
    height: 2px;
    left: 84vw;
    animation-delay: -997.9s;
    animation-duration: 143.8s;
  }
  .stars .container:nth-child(69) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 31.9s;
    background: #d3a9c9;
  }
  .stars .container:nth-child(70) {
    width: 1px;
    height: 1px;
    left: 45vw;
    animation-delay: -985.8s;
    animation-duration: 236.2s;
  }
  .stars .container:nth-child(70) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 19.1s;
    background: rgba(222,153,170,0.7);
  }
  .stars .container:nth-child(71) {
    width: 3px;
    height: 3px;
    left: 90.5vw;
    animation-delay: -996.9333333333333s;
    animation-duration: 129.26666666666668s;
  }
  .stars .container:nth-child(71) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 13.4s;
    background: rgba(215,219,149,0.9);
  }
  .stars .container:nth-child(72) {
    width: 3px;
    height: 3px;
    left: 34vw;
    animation-delay: -994.4s;
    animation-duration: 90.53333333333335s;
  }
  .stars .container:nth-child(72) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49s;
    animation-duration: 22.5s;
    background: #caba8d;
  }
  .stars .container:nth-child(73) {
    width: 3px;
    height: 3px;
    left: 36vw;
    animation-delay: -999.1333333333333s;
    animation-duration: 126.06666666666666s;
  }
  .stars .container:nth-child(73) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 21.1s;
    background: rgba(209,219,109,0.9);
  }
  .stars .container:nth-child(74) {
    width: 2px;
    height: 2px;
    left: 27vw;
    animation-delay: -996.6s;
    animation-duration: 103.3s;
  }
  .stars .container:nth-child(74) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 23.4s;
    background: #c9f166;
  }
  .stars .container:nth-child(75) {
    width: 1px;
    height: 1px;
    left: 2.5vw;
    animation-delay: -983s;
    animation-duration: 234s;
  }
  .stars .container:nth-child(75) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.7s;
    animation-duration: 28.2s;
    background: #f1ff64;
  }
  .stars .container:nth-child(76) {
    width: 1px;
    height: 1px;
    left: 35vw;
    animation-delay: -983.2s;
    animation-duration: 147.4s;
  }
  .stars .container:nth-child(76) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44s;
    animation-duration: 42.4s;
    background: rgba(220,180,237,0.7);
  }
  .stars .container:nth-child(77) {
    width: 3px;
    height: 3px;
    left: 7.5vw;
    animation-delay: -995.6s;
    animation-duration: 74.8s;
  }
  .stars .container:nth-child(77) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.4s;
    animation-duration: 36.2s;
    background: rgba(245,234,122,0.7);
  }
  .stars .container:nth-child(78) {
    width: 2px;
    height: 2px;
    left: 24vw;
    animation-delay: -995s;
    animation-duration: 46.7s;
  }
  .stars .container:nth-child(78) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.9s;
    animation-duration: 11.5s;
    background: rgba(205,224,133,0.9);
  }
  .stars .container:nth-child(79) {
    width: 1px;
    height: 1px;
    left: 24vw;
    animation-delay: -985.2s;
    animation-duration: 336.2s;
  }
  .stars .container:nth-child(79) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 23.6s;
    background: #f9b29a;
  }
  .stars .container:nth-child(80) {
    width: 1px;
    height: 1px;
    left: 37.5vw;
    animation-delay: -992.6s;
    animation-duration: 78.8s;
  }
  .stars .container:nth-child(80) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.8s;
    animation-duration: 23.3s;
    background: rgba(231,250,113,0.7);
  }
  .stars .container:nth-child(81) {
    width: 1px;
    height: 1px;
    left: 54.5vw;
    animation-delay: -997.2s;
    animation-duration: 59.2s;
  }
  .stars .container:nth-child(81) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.7s;
    animation-duration: 34.5s;
    background: rgba(227,255,192,0.9);
  }
  .stars .container:nth-child(82) {
    width: 1px;
    height: 1px;
    left: 45.5vw;
    animation-delay: -993.4s;
    animation-duration: 60.4s;
  }
  .stars .container:nth-child(82) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 44.3s;
    background: #e2f3d6;
  }
  .stars .container:nth-child(83) {
    width: 2px;
    height: 2px;
    left: 25vw;
    animation-delay: -992.6s;
    animation-duration: 89s;
  }
  .stars .container:nth-child(83) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.9s;
    animation-duration: 49.4s;
    background: rgba(251,250,212,0.7);
  }
  .stars .container:nth-child(84) {
    width: 1px;
    height: 1px;
    left: 85vw;
    animation-delay: -994.2s;
    animation-duration: 90.8s;
  }
  .stars .container:nth-child(84) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 9.9s;
    background: rgba(222,233,125,0.9);
  }
  .stars .container:nth-child(85) {
    width: 2px;
    height: 2px;
    left: 42.5vw;
    animation-delay: -998.1s;
    animation-duration: 159.3s;
  }
  .stars .container:nth-child(85) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.9s;
    animation-duration: 29.1s;
    background: rgba(217,153,164,0.8);
  }
  .stars .container:nth-child(86) {
    width: 3px;
    height: 3px;
    left: 31vw;
    animation-delay: -998.8666666666667s;
    animation-duration: 44.73333333333333s;
  }
  .stars .container:nth-child(86) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.8s;
    animation-duration: 21.1s;
    background: rgba(201,203,229,0.9);
  }
  .stars .container:nth-child(87) {
    width: 1px;
    height: 1px;
    left: 48.5vw;
    animation-delay: -992s;
    animation-duration: 381s;
  }
  .stars .container:nth-child(87) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40s;
    animation-duration: 18.9s;
    background: rgba(224,196,253,0.8);
  }
  .stars .container:nth-child(88) {
    width: 1px;
    height: 1px;
    left: 42vw;
    animation-delay: -986s;
    animation-duration: 113.4s;
  }
  .stars .container:nth-child(88) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 8.7s;
    background: #d5cfc6;
  }
  .stars .container:nth-child(89) {
    width: 2px;
    height: 2px;
    left: 6.5vw;
    animation-delay: -998.6s;
    animation-duration: 61s;
  }
  .stars .container:nth-child(89) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.8s;
    animation-duration: 11.2s;
    background: #f4a6f8;
  }
  .stars .container:nth-child(90) {
    width: 3px;
    height: 3px;
    left: 59.5vw;
    animation-delay: -999.7333333333333s;
    animation-duration: 116.33333333333333s;
  }
  .stars .container:nth-child(90) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.7s;
    animation-duration: 17.8s;
    background: rgba(233,221,179,0.9);
  }
  .stars .container:nth-child(91) {
    width: 3px;
    height: 3px;
    left: 92.5vw;
    animation-delay: -997.7333333333333s;
    animation-duration: 107.73333333333333s;
  }
  .stars .container:nth-child(91) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.4s;
    animation-duration: 32.8s;
    background: #cbe0ec;
  }
  .stars .container:nth-child(92) {
    width: 2px;
    height: 2px;
    left: 35.5vw;
    animation-delay: -998.5s;
    animation-duration: 125.9s;
  }
  .stars .container:nth-child(92) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.8s;
    animation-duration: 11.3s;
    background: rgba(209,194,129,0.9);
  }
  .stars .container:nth-child(93) {
    width: 2px;
    height: 2px;
    left: 78.5vw;
    animation-delay: -999.6s;
    animation-duration: 186.7s;
  }
  .stars .container:nth-child(93) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48s;
    animation-duration: 15.9s;
    background: rgba(237,155,232,0.7);
  }
  .stars .container:nth-child(94) {
    width: 2px;
    height: 2px;
    left: 42vw;
    animation-delay: -999.1s;
    animation-duration: 156.3s;
  }
  .stars .container:nth-child(94) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46s;
    animation-duration: 8.5s;
    background: rgba(243,196,129,0.9);
  }
  .stars .container:nth-child(95) {
    width: 2px;
    height: 2px;
    left: 98.5vw;
    animation-delay: -990.8s;
    animation-duration: 90.4s;
  }
  .stars .container:nth-child(95) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 14.8s;
    background: rgba(229,233,239,0.8);
  }
  .stars .container:nth-child(96) {
    width: 2px;
    height: 2px;
    left: 57.5vw;
    animation-delay: -996.7s;
    animation-duration: 55.2s;
  }
  .stars .container:nth-child(96) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 25.7s;
    background: rgba(223,193,143,0.8);
  }
  .stars .container:nth-child(97) {
    width: 2px;
    height: 2px;
    left: 91.5vw;
    animation-delay: -999.7s;
    animation-duration: 30.4s;
  }
  .stars .container:nth-child(97) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.5s;
    animation-duration: 21.6s;
    background: #d9bd7c;
  }
  .stars .container:nth-child(98) {
    width: 2px;
    height: 2px;
    left: 77vw;
    animation-delay: -999.9s;
    animation-duration: 31.8s;
  }
  .stars .container:nth-child(98) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.7s;
    animation-duration: 9s;
    background: rgba(221,195,233,0.7);
  }
  .stars .container:nth-child(99) {
    width: 1px;
    height: 1px;
    left: 45.5vw;
    animation-delay: -994.6s;
    animation-duration: 398.4s;
  }
  .stars .container:nth-child(99) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.8s;
    animation-duration: 40.3s;
    background: rgba(221,194,177,0.8);
  }
  .stars .container:nth-child(100) {
    width: 2px;
    height: 2px;
    left: 38vw;
    animation-delay: -996.2s;
    animation-duration: 125.5s;
  }
  .stars .container:nth-child(100) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 37.3s;
    background: rgba(212,160,150,0.8);
  }
  @-moz-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-webkit-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-o-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-moz-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-webkit-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-o-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  