body {
font-family: 'consolas';
}

.SignView {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    }

.intro {
 font-size: 15px; 
}
   
.horoscope_container {
    display: grid;
    /* text-indent: 20px; */
    text-align: left;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    margin: 140px;
    border-radius: 5px;
    border: 0 solid rgb(67, 63, 63);
    font-size: 80%;
    }

    .planet-img {
    
        width: 250px;
        height: 300px;
        margin: auto;

      }
 

 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'consolas' white 20px;
    height: 100%;
    width: 100%;
    /* border-bottom: 1px solid white; */
    }

div.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* form design */
  
  form {
    text-align: center;
    /* border: 1px solid #4A4A4A; */
    padding: 30px;
  }
  
  label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
  }
  
  /* animation for the text to float up */
  
 .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }
  
  /* remove the input box styling */
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
  
  /* once you click in the input the input width box animates */
  
  label input:focus {
    max-width: 100%;
    width: 400px;
  }
  label select:focus {
    max-width: 100%;
    width: 400px;
  }
  /* the text floats up and turns white */
  
  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
  
  /* the text floats up during form validation */
  
  label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }

  select {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: #9B9B9B;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
  
  /* button styling */
  
  button {
    background: transparent;
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }
  
  button:hover, button:focus {
    background-color: white;
    color: #333333;
  }

   

  
    